*{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
@import "tailwindcss"



/* shared style */;
nav 
{
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}
* h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
* h2{
    font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.gred-color {
  background-image: linear-gradient(45deg, #F7E93F , #FB09B4 , #9100F8);
}

.about-title,
.about-card,
#about-card,
.choose-container,
.episodes
{
  max-width: 1200px;
  margin: 20px auto;
}


/* header style */
header{
  background-color: #1A0B2E;
}

nav{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 30px;
}
.header-btn{
  padding: 10px 30px;
  border-radius:20px;
}




/* hero style */
#hero{
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container{
  padding: 60px 0;
}

.hero-img{
  position: relative;
  border: 1px solid #1A0B2E;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 30px;
}
.hero-img .hero-circle{
  position: absolute;
  z-index: 1;
  text-align: center;
}
.hero-microphone {
  display: inline;
  top:100px;
  /* right: -8.125rem; */
  left: 55%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}
.new {
  position:absolute;
  right: 20px;
  top: 40px;
  z-index: 3;
  box-shadow: 0 3px 27px #00ff8850;
}
.new p{
  background-color: #00ff88;
  display: inline;
  padding: 10px 20px;
  color: #000000;
  border-radius: 30px;
  font-weight: 500;
}

.hero-text{
  color: #ffffff; 
  margin-top:400px ;
  text-align: center;
}
.hero-text h2 {
  font-size: 3.75rem;
  font-weight: bold;
}

.hero-btn-1{
  padding: 10px 15px;
  border-radius: 20px;
  margin: 20px 10px;
}
.hero-btn-2{
  border: 2px solid #00ff88;
  color: #00ff88;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 20px 10px;
}




/* about section  */
#about{
  background-color:#1A0B2E ;
  color: #fff;
  padding: 4rem 1.5rem;
}

.about-title p{
  margin-top:16px ;
}
#about-card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}

.card{
  padding: 20px;
  text-align: center;
}
.card h3{
  font-size: 3rem;
  color: #00ff88;
  font-weight: bold;
}
.card p{
  text-transform: uppercase;
}


/* choose section */
#choose{
  background-color: #230E3D;
  width: 100%;
  color: white;
  padding: 7.5rem 1rem;
}
.choose-title{
  padding: 20px;
}
.box-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
}
.col-2{
  grid-column: span 2;
}
.row-2{
  grid-row: span 2;
}
.box{
  background-color: #351165;
  padding: 2.25rem 2rem;
  border-radius: 15px;
  align-items: center;
}
.box .box-img{
  margin: 20px ;
}
/* .box h3{
  font-size: 2rem;
  font-weight: bold;
} */



/* Featured Episodes and Host */
#ep-host{
  background-color: #1A0B2E;
    color: white;
    padding: 1rem;
  }

  .ep-content{
  background-color: #250d44;
  max-width: 350px;
  padding: 1.5rem;
  border-radius:  0 0  15px  15px ;
}
iframe{
  border-radius:  15px  15px 0 0  ;
}
.ep-box-container{
margin: 30px auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
padding: 10px;
margin-bottom: 100px;
}
.ep-content h3{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px auto;
}
.ep-content p{
  margin: 10px auto;
}
.ep-content span{
  color: #00ff88;
  margin: 20px auto;
}

/* host */
.host-container{
  max-width: 1200px ;
  margin:20px auto;
  background-color: #250d44;
  padding: 2.5rem;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.host-img{
  min-width: 200px;
}
.host-content{
  max-width: 890px;
}
.host-content h3{
  font-size: 2rem;
  font-weight:bold ;
}
.host-social{
  display: flex;
  gap: 2rem;
  margin: 20px 0;
}

footer{
  background-image: url(./assets/footer-bg.png);
  background-position: center;
  background-size: cover;background-repeat: no-repeat;
  color: #ffffff;
}

.footer-container{
  padding: 7.5rem 0;
  text-align: center;
}
.social-f{
  display:flex;
  justify-content: center;
  gap: 30px;
  padding: 30px 20px ;
}





/* responsive */


@media screen and (max-width:1200px) {
  .ep-box-container{
grid-template-columns: repeat(1, 1fr);
justify-content: center;
gap: 1rem;
}
.ep-box{
  margin: auto;
}
}

@media screen and (max-width:992px ) {
  #about-card{
  grid-template-columns: repeat(2,1fr);
}
.box-container {
  grid-template-columns: repeat(1, 1fr);
}
.col-2{
  grid-column: span 1;
}
.row-2{
  grid-row: span 1;
}
.host-container{
  flex-direction: column;
  text-align: center;
}
.host-img {
  margin: auto;
}
.host-social {
  justify-content: center;
}

}

@media screen and (max-width:576px ) {
  * h2 {
    font-size: 2rem;
  }
  * h3{
  font-size: 1.5rem;
  margin-bottom: .5rem;
  }
  .card{
  padding: 10px;
  }
  .card h3{
    font-size: 2.5rem;
  }
}