*{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
@import "tailwindcss"
/* shared style */;
nav 
{
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.gred-color {
  background-image: linear-gradient(45deg, #F7E93F , #FB09B4 , #9100F8);
}

.about-title,
.about-card
{
  max-width: 1200px;
  margin: auto;
}


/* header style */
header{
  background-color: #1A0B2E;
}

nav{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 30px;
}
.header-btn{
  padding: 10px 30px;
  border-radius:20px;
}




/* hero style */
#hero{
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container{
  padding: 60px 0;
}

.hero-img{
  position: relative;
  border: 1px solid #1A0B2E;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 30px;
}
.hero-img .hero-circle{
  position: absolute;
  z-index: 1;
  text-align: center;
}
.hero-microphone {
  display: inline;
  top:100px;
  right: -8.125rem;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.new {
  position:absolute;
  right: 20px;
  top: 40px;
  z-index: 3;
  box-shadow: 0 3px 27px #00ff88;
}
.new p{
  background-color: #00ff88;
  display: inline;
  padding: 10px 20px;
  color: #000000;
  border-radius: 30px;
  font-weight: 500;
}

.hero-text{
  color: #ffffff; 
  margin-top:400px ;
  text-align: center;
}
.hero-text h2 {
  font-size: 3.75rem;
  font-weight: bold;
}

.hero-btn-1{
  padding: 10px 15px;
  border-radius: 20px;
  margin: 20px 10px;
}
.hero-btn-2{
  border: 2px solid #00ff88;
  color: #00ff88;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 20px 10px;
}




/* about section  */
#about{
  background-color:#1A0B2E ;
  color: #fff;
}

.about-title p{
  margin-top:16px ;
}
.about-card{
  display: grid;
  grid-template-columns: 4;
}
.card{
  padding: 20px;
}
.card h3{
  font-size: 3rem;
  color: #00ff88;
  font-weight: bold;
}
.card p{
  text-transform: uppercase;
}